{% extends "layout.html" %}

{% block title %}
    About Me
{% endblock %}

{% block main %}
    <h1>Meet the Artist</h1>
    <img alt="Zoe J Coar" src="/static/ZJCProfile.jpg" width="50%">
    <p class="m-3">I think it’s time I introduce myself. &#128515
I am Zoe Coar, the face behind ZJC Custom Kicks. I am an artist—mainly specializing in painting. I graduated from Purdue University in 2020 with a Bachelor of Arts in Visual Art Education, and am now a high school art teacher in Indiana, which I LOVE!
When I’m not teaching or painting, I spend my time being a wife and a mama of 3 under the age of 5 (yes I know my plate is overflowing!). 🤪
I am so excited to kick start this new business painting shoes. It is so fun and such a unique way to showcase my artistic abilities. I hope you all enjoy, some AMAZING things are coming!
Stay tuned, and shoot me a message for any orders!
Thanks to all of you for your support so far, man am I excited for this journey!</p>
{% endblock %}
