{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="container ms-auto" style="font-size: x-large">
        <div style="font-family: cursive" >{{bottom}}</div>
        <img class="mb-3 mt-1 pixelrounded" alt="{{ bottom }}" src="static/Oops2.png" title="{{ bottom }}">
    </div>

    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

        <a class="nav-link" href="/register">No account? Click here to register!</a>
{% endblock %}
