{% extends "layout.html" %}

{% block title %}
    Apparel
{% endblock %}

{% block main %}

<body>
    <h1>Apparel</h1>

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/static/BlankHoodies.jpg" alt="Hoodies" width="140" height="140">
          <h2>Yeah, I do those.</h2>
          <p>Nothing sells quite like a hoodie. Cold outside? Hoodie. Trying to get comfortable inside? Hoodie. Can't find a shirt you like? Hoodie. Haven't showered in days? Hoodie. Robbing a bank? Hoodie. <span class="text-muted">(I do not advise this)</span></p>
          <p><a class="btn btn-default" href="/order" role="button">Order Now »</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="/static/BlankSweats.jpg" alt="Sweats" width="140" height="140">
          <h2>And those.</h2>
          <p>Don't kid yourself, I know you can use another pair. Shouldn't you be matching that hoodie you just bought? You started working out? New gear always gets you motivated. Doesn't matter the brand, I'll get you set up with comfy new loungewear. </p>
          <p><a class="btn btn-default" href="/order" role="button">Order Now »</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="/static/BlankBeanies.jpg" alt="Beanies" width="140" height="140">
          <h2>Yeah, even those.</h2>
          <p>And to be honest, it doesn't even stop with beanies, and neither should you. Tee shirts, shorts, baseball caps, whatever you can think of, I can make a reality. Get something uniquely yours today.</p>
          <p><a class="btn btn-default" href="/order" role="button">Order Now »</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Rep the brand. <span class="text-muted">Complete the fit. </span></h2>
          <p class="lead">Now offering custom tees, sweatshirts, hoodies, and more. Show off the source of your one of a kind kicks. Every sale helps build and grow this company, I could not do it without your help. With sizes to fit all, and any color you desire, now is the time to get your ZJC Custom Kicks apparel. <a href="/order">Click here for more information.</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block pixelrounded" width="300rem" src="/static/HoodiesandTees.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block pixelrounded" width="300rem" src="/static/Alfonzo.jpg">
        </div>
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, I can do that. <span class="text-muted">Check it.</span></h2>
          <p class="lead">It may be called ZJC Custom KICKS, but don't get it twisted. I can do it all. Want to immortalize your favorite character? Making matching PJs for the holidays? Looking for the perfect gift for that special someone? Look no further, you are at the best spot for custom designed tees, hoodies, sweats, beanies, and just about anything else you can dream up. <a href="/order">Click here for more information.</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

    </div>
</body>
{% endblock %}
