{% extends "layout.html" %}

{% block title %}
    Kicks
{% endblock %}

{% block main %}

<body>
    <div class="main">
        <h1>Kicks</h1>
        <p style="font-family: cursive">These are some of the custom orders I have already completed. These are not for sale, but feel free to use them for inspiration for your own orders!</p>
        <div class="gallery">
            <div class="gallery__item">
                <img src="/static/AliTysonClose.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/AliTysonSide.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/AliTysonSide2.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/AliTysonTopHeel.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/BluePinkAF1.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/Butterfly.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/Cars.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/FreshPrince.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/FreshPrince.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/HollowKnight.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/HorrorFaces.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/HorrorFront.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/HorrorInside.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/HorrorSide.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/NikeShadow.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/PlayboyDrip.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/Spongebob.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/ToyStoryAndy.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/ToyStoryClose.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/ToyStoryDisplay.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/ToyStoryTop.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/VintageBlueYellow.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/WalkingDeadClose.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/WalkingDeadSide.jpg" />
            </div>
            <div class="gallery__item">
                <img src="/static/WalkingDeadTop.jpg" />
            </div>
        </div>
    </div>
</body>
{% endblock %}
